<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--<property name = "hibernate.dialect">-->
            <!--org.hibernate.dialect.PostgreSQLDialect-->
        <!--</property>-->

        <!--<property name = "hibernate.connection.driver_class">-->
            <!--com.mysql.jdbc.Driver-->
        <!--</property>-->

        <!--&lt;!&ndash; Assume test is the database name &ndash;&gt;-->

        <!--<property name = "hibernate.connection.url">-->
            <!--jdbc:mysql://localhost/test-->
        <!--</property>-->

        <!--<property name = "hibernate.connection.username">-->
            <!--root-->
        <!--</property>-->

        <!--<property name = "hibernate.connection.password">-->
            <!--root123-->
        <!--</property>-->

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>

        <property name="hibernate.connection.url">jdbc:postgresql://localhost/hibernatesample</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">hibernatesample</property>
        <property name="hibernate.connection.password">pass1111</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- List of XML mapping files -->
        <mapping resource = "Employee.hbm.xml"/>

        <!-- Run below SQL queries in postgreSql db-->
        <!--CREATE ROLE hibernatesample superuser;-->
        <!--ALTER ROLE hibernatesample WITH LOGIN;-->


    </session-factory>
</hibernate-configuration>